
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    68% {
        transform: translateX(1.5rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    20% {
        opacity: 0;
        transform: translateX(10rem);
    }

    60% {
        transform: translateX(-1.5rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    40% {
        opacity: 0;
        transform: translateY(15rem);
    }

    72% {
        transform: translateY(-1.5rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}