.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;

    &-main {
        display: block;
        font-size: 5rem;
        font-weight: 400;
        letter-spacing: 1.6rem;

        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease;
    }

    &-sub {
        display: block;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 1.2rem;

        animation-name: moveInRight;
        animation-duration: 1.8s;
        animation-timing-function: ease;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary, $color-primary-dark);
    -webkit-background-clip: text;
    color:transparent;
    letter-spacing: 2px;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
        transform: skewy(-5deg) skewX(-15deg) scale(1.1) translateX(-2rem);
        letter-spacing: -2px;
        text-shadow: 2.5rem 0.8rem 1rem rgba($color-shadow, 0.3);
    }
}

.heading-tertiary{
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph{
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}