@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  68% {
    transform: translateX(1.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  20% {
    opacity: 0;
    transform: translateX(10rem); }
  60% {
    transform: translateX(-1.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  40% {
    opacity: 0;
    transform: translateY(15rem); }
  72% {
    transform: translateY(-1.5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

/* css reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #425f5b;
  box-sizing: border-box;
  /* padding: 3rem; */ }

.heading-primary {
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-primary-main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 1.6rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease; }
  .heading-primary-sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.2rem;
    animation-name: moveInRight;
    animation-duration: 1.8s;
    animation-timing-function: ease; }

.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 20rem;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 3rem rgba(0, 51, 26, 0.4); }
  .btn:hover::after {
    transform: scale(1.2, 1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.8rem 1rem rgba(0, 51, 26, 0.4); }

.btn-white {
  background-color: white;
  color: #425f5b;
  font-weight: 600;
  font-size: 2rem;
  margin-top: 6rem; }
  .btn-white::after {
    background-color: rgba(255, 255, 255, 0.75); }

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 20rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .5s;
  animation-fill-mode: backwards; }

.btn-animated {
  animation-name: moveInBottom;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards; }

.header {
  height: 99vh;
  background-image: linear-gradient(to right bottom, rgba(29, 185, 8, 0.3), rgba(7, 116, 97, 0.3)), url(../img/LeapingFish.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  padding: 0;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 5rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center; }

.grid-test {
  margin-bottom: 2rem; }
  .grid-test .row {
    max-width: 114rem;
    margin: 0 auto; }
    .grid-test .row:not(:last-child) {
      margin-bottom: 2rem; }
    .grid-test .row::after {
      content: "";
      display: table;
      clear: both; }
    .grid-test .row [class^="col-"] {
      background-color: #077461;
      color: white;
      float: left;
      padding: 0.5rem;
      text-align: center; }
      .grid-test .row [class^="col-"]:not(:last-child) {
        margin-right: 2rem; }
    .grid-test .row .col-1-of-2 {
      width: calc((100% - 2rem) / 2); }
    .grid-test .row .col-1-of-3 {
      width: calc((100% - 2 * 2rem) / 3); }
    .grid-test .row .col-2-of-3 {
      width: calc(2 * ((100% - 2 * 2rem) / 3) + 2rem); }
    .grid-test .row .col-1-of-4 {
      width: calc((100% - 3 * 2rem) / 4); }
    .grid-test .row .col-2-of-4 {
      width: calc(2 * ((100% - 3 * 2rem) / 4) + 2rem); }
    .grid-test .row .col-3-of-4 {
      width: calc(3 * ((100% - 3 * 2rem) / 4) + 2 * 2rem); }

#canvas {
  position: absolute;
  width: 100vw;
  height: 99vh;
  /* background-color: red;  */ }
