@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  68% {
    transform: translateX(1.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  20% {
    opacity: 0;
    transform: translateX(10rem); }
  60% {
    transform: translateX(-1.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  40% {
    opacity: 0;
    transform: translateY(15rem); }
  72% {
    transform: translateY(-1.5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

/* css reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #425f5b;
  box-sizing: border-box; }

.heading-primary {
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-primary-main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 1.6rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease; }
  .heading-primary-sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.2rem;
    animation-name: moveInRight;
    animation-duration: 1.8s;
    animation-timing-function: ease; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #00be8f, #005141);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewy(5deg) skewX(15deg) scale(1.1) translateX(2rem);
    letter-spacing: -2px;
    text-shadow: 2.5rem -1.5rem 1rem rgba(0, 51, 26, 0.3); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 20rem;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 3rem rgba(0, 51, 26, 0.4); }
  .btn:hover::after {
    transform: scale(1.2, 1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.8rem 1rem rgba(0, 51, 26, 0.4); }

.btn-white {
  background-color: white;
  color: #425f5b;
  font-weight: 600;
  font-size: 2rem;
  margin-top: 6rem; }
  .btn-white::after {
    background-color: rgba(255, 255, 255, 0.75); }

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 20rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .5s;
  animation-fill-mode: backwards; }

.btn-animated {
  animation-name: moveInBottom;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #00be8f;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #00be8f;
  padding: 5px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #00be8f;
  color: white;
  box-shadow: 0 0.7rem 1.2rem rgba(0, 51, 26, 0.3);
  transform: translateY(-2px) scale(1.1); }

.btn-text:active {
  box-shadow: 0 0.2rem 0.8rem rgba(0, 51, 26, 0.4);
  transform: translateY(1px) scale(0.95); }

.composition {
  position: relative; }
  .composition__photo {
    width: 52%;
    box-shadow: 0 0.7rem 1.5rem rgba(0, 51, 26, 0.5);
    border-radius: 2px;
    position: absolute;
    cursor: pointer;
    z-index: 10;
    transition: all 0.2s;
    border: 0 solid #00be8f; }
    .composition__photo--p1 {
      left: 0;
      top: 16rem; }
    .composition__photo--p2 {
      right: 0;
      top: 10rem; }
    .composition__photo--p3 {
      left: 25%;
      top: 0; }
    .composition__photo:hover {
      transform: translateY(-1rem) scale(1.2);
      box-shadow: 0 1.8rem 2.8rem rgba(0, 51, 26, 0.3);
      z-index: 20;
      border: 2rem solid #00be8f; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95);
    box-shadow: 0 0.1rem 0.5rem rgba(0, 51, 26, 0.8); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.8rem 2.8rem rgba(0, 51, 26, 0.3);
  transition: all .3s;
  cursor: pointer; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 0.8rem;
    background-image: linear-gradient(to right, #00be8f, #005141);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.header {
  height: 99vh;
  background-image: linear-gradient(to right bottom, rgba(0, 118, 135, 0.3), rgba(0, 81, 65, 0.3)), url(../img/LeapingFish.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  padding: 0;
  clip-path: polygon(0 0, 100vw 0, 100vw 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 5rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center; }

.grid-test {
  margin-bottom: 2rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 2rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-1-of-2 {
    width: calc((100% - 2rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 2rem) / 3) + 2rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 2rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 2rem) / 4) + 2rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 2rem) / 4) + 2 * 2rem); }

#canvas {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh; }

.section-about {
  background-color: #f7f7f7;
  padding: 30rem 0;
  margin-top: -25vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(0, 118, 135, 0.3), rgba(0, 81, 65, 0.3)), url(../img/d_5.jpg);
  background-size: cover; }
