.header {
    height: 99vh;
    background-image: linear-gradient(to right bottom,
        rgba($color-primary-light, 0.3),
        rgba($color-prymary-dark, 0.3)),
        url(../img/LeapingFish.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    padding: 0;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 5rem;
    }

    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -40%);
        text-align: center;
    }
}