//COLORS
$text-color: rgb(66, 95, 91);

$color-primary: #00bd84;
$color-primary-light: #1db908;
$color-prymary-dark: #077461;
$color-shadow: rgb(0, 51, 26);
$color-white: white;

// GRID
$grid-width: 114rem;
$gutter-vertical: 2rem;
$gutter-horizontal: 2rem;