//COLORS
$text-color: rgb(66, 95, 91);

$color-primary: rgb(0, 190, 143);
$color-primary-light: #007687;
$color-primary-dark: #005141;

$color-gray-light-1: #f7f7f7;

$color-shadow: rgb(0, 51, 26);
$color-white: white;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 2rem;
$gutter-horizontal: 2rem;